.container {
    .button-close {
        float: right;
        margin: 10px;
    }

    .dialog {
        .example-form {
            padding: 20px;

            mat-form-field {
                display: block;
            }

            .dialog-buttons {
                .demo-button {
                    font-family: Roboto, "Helvetica Neue", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    background: #3f51b5;
                    color: white;
                    box-sizing: border-box;
                    position: relative;
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    -webkit-tap-highlight-color: transparent;
                    display: inline-block;
                    white-space: nowrap;
                    text-decoration: none;
                    vertical-align: baseline;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0;
                    min-width: 100px;
                    line-height: 36px;
                    padding: 0 16px;
                    border-radius: 4px;
                    overflow: visible;
                    transform: translate3d(0, 0, 0);
                    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        }
    }
}