<div class="container">
    <button mat-button class="button-close" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
    <div class="dialog">
        <form class="example-form" [formGroup]="formGroup" (ngSubmit)="createEmployee()">
            <mat-form-field appearance="outline">
                <mat-label>Primer apellido</mat-label>
                <input matInput maxlength="20" formControlName="lastName">
                <mat-error *ngIf="formGroup.get('lastName').hasError('required')">
                    Primer apellido es requerido
                </mat-error>
                <mat-error *ngIf="formGroup.get('lastName').hasError('pattern')">
                    Solo permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Primer nombre</mat-label>
                <input matInput maxlength="20" formControlName="firstName">
                <mat-error *ngIf="formGroup.get('firstName').hasError('required')">
                    Primer nombre es requerido
                </mat-error>
                <mat-error *ngIf="formGroup.get('firstName').hasError('pattern')">
                    Solo permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Otros nombres</mat-label>
                <input matInput maxlength="50" formControlName="otherNames">
                <mat-error *ngIf="formGroup.get('otherNames').hasError('pattern')">
                    Solo permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Pais del empleo</mat-label>
                <select matNativeControl formControlName="country">
                    <option value="co">Colombia</option>
                    <option value="us">Estados Unidos</option>
                </select>
            </mat-form-field>
            <div class="dialog-buttons">
                <button type="submit" class="demo-button">Registrar</button>
            </div>
        </form>
    </div>
</div>