<h1 mat-dialog-title>Eliminar empleado</h1>
<div mat-dialog-content>¿ Está seguro de que desea eliminar el empleado ?</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Si</button>
</div>