.container {
    padding: 20px;

    .demo-button-container {
        padding-bottom: 16px;

        .demo-button {
            text-transform: uppercase;
        }
    }

    .demo-table {
        width: 100%;
    }
}