<div class="container">
    <div class="demo-button-container">
        <button mat-raised-button color="primary" (click)="createDialog()" class="demo-button">Nuevo empleado</button>
    </div>
    
    <table mat-table [dataSource]="employees" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>Primer Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>
      
        <ng-container matColumnDef="otherNames">
            <th mat-header-cell *matHeaderCellDef>Otros Nombres</th>
            <td mat-cell *matCellDef="let element">{{ element.otherNames }}</td>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Primer Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>
      
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" (click)="deleteDialog(element)" matTooltip="Eliminar empleado" matTooltipPosition="right">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="demo-paginator mat-elevation-z8" [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>